#container{
  width:100%;
  margin:0 auto;
  position:relative;
}
#logo{
  font-size:1.5em;
  font-weight:bold;
  margin:20px 300px;
}
#logo img{vertical-align:middle;}
#container video{
  width:100%;
  margin:0 auto;
  display:block;
}
#reg{
  width:100%;
  position: absolute;
  top:200px;
  background-color:rgba(255,255,255,0.7);
}
.panel {
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 0 5px #aaa;
  min-height: 100px;
  padding: 1.2em .6em;
  padding-left:300px;
}
.form-group {
  margin-bottom: 8px;
}
.form-group > label {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.form-group > input {
  width: 200px;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
}
.form-group > span {
  width: 270px;
  color: #fff;
  padding: 4px;
  border-radius: 2px;;
}
.msg-default {
  background-color: #999;
}
.msg-error {
  background-color: #d00;
}
.msg-success {
  background-color: #0d0;
}
.hidden {
  display: none;
}
#bt-register{
  background: #3e3;
  border: 1px solid #0a0;
  width: 210px;
  color: #fff;
  cursor:pointer;
}
